{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-export-default-from",
    ["module:fast-async", {
      "spec": true,
      "env": {
        "augmentObject": false,
        "dontMapStackTraces": true,
        "asyncStackTrace": false,
        "dontInstallRequireHook": false
      },
      "compiler": {
        "promises": true,
        "generators": false
      },
      "runtimePattern": null,
      "useRuntimeModule": false
    }]
  ]
}
